<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" href="#">BloodbankApp</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About us</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/donars" routerLinkActive="active">DonarsList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-donar" routerLinkActive="active">Donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipients" routerLinkActive="active">RecepientsList</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/add-recipient" routerLinkActive="active">Request blood</a>
        </li></ul>
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"  routerLinkActive="active">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register"  routerLinkActive="active">register</a>
        </li>
       
      </ul>
    </div>
  </nav>
